@media only screen and (min-width: 64rem) {


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(30rem, 1fr));
    row-gap: 1em;
    column-gap: 1em;
    margin: 2px;
    border: none;
    padding: 1em;
    text-align: center;
    margin-left: 18%;
    max-width: 60%;
}
}