
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');


h1, 
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    color:#ac856d;
}

p {
    font-family: 'Lato', sans-serif;
}

.infoAndWeather {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#infoContainer {
    margin-left: 25%;
    margin-right: 5%;
    margin-top: 1em;
    box-shadow: 0 0 20px#a3a88a;
    text-align: center;
    padding: 1em;
}

#weatherContainer {
    margin-top: 1em;
    margin-left: 5%;
    margin-right: 25%;
    text-align: center;
    box-shadow: 0 0 20px#a3a88a;
    color:#ac856d;
}

p.houstonTempleInfo {
    color:#ac856d;
}

button {
    background-color:#ac856d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 1em 2em;
    transition-duration: 500ms;
}

button:hover {
    background-color: #a3a88a;
}


.templeLogo {
    width: 7rem;
    margin-left: 1.5em;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    transition-duration: 500ms;
}

.homeNav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #988d84;
    color: white;

}

.socialMedia {
    margin-right: 1.5rem;
    margin-bottom: .75rem;
}

.socialMedia :nth-child(2) {
    margin-left: 1rem;
}

nav a:hover {
    color:#a3a88a;
}

.heroImg {
    width: 100%;
}

.homePg {
    text-align: center;
    max-width: 68%;
    margin: 1em auto;
    background-color: #a3a88a;
    color: white; 
    padding: 2em;
}

.callToAction {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.callToAction h1 {
    font-size: 2rem;
}

div.templePics {
    margin: 1em;
    gap: 0.5em;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

div img.adelaide,
div img.madrid,
div img.frankfurt,
div img.copenhagen {
    width: 22%;
    margin-top: 1em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(30rem, 1fr));
    row-gap: 1em;
    column-gap: 1em;
    margin: 2px;
    border: none;
    padding: 1em;
    text-align: center;
    margin-left: 8rem;
    max-width: 80%;
    color:#ac856d;
}

.cards section {
    box-shadow: 0px 0px 8px #a3a88a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;

}

form {
    width: 70%;
    margin-left: 25%;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #988d84;
    border-radius: 5px;
    padding: .5rem 2%;
    width: 70%;
}

form legend {
    color:#988d84;
    margin: 0 1rem;
    padding: .5rem 2%;
    font-family: Lato;
}

form label.firstBox,
form label.secBox,
form div {
    font-family: Lato;
    display: block;
    padding-top: 1rem;
    color:#988d84;
    font-size: 1.1rem;
}

form label.firstBox input,
form label.secBox input, 
form label.firstBox select,
form label.firstBox select {
    -webkit-appearance: none;
    font-family: Lato;
    display: block;
    font-size: 1rem;
    border: solid 1px #988d84;
    border-radius: 4px;
    padding: .75rem;
    color:#555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}


form input.submitBtn {
    font-family: Lato;
    font-size: 1rem;
    border: none;
    background-color:#988d84;
    color: white;
    border-radius: 4px;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 1.5rem;
    width: 96%;
    max-width: 22rem;
}

form input.submitBtn:hover {
    background-color:#a3a88a;
}

form label.top input:required {
    border-left: 6px solid red;
}

form label.top input:required:valid {
    border-left: 6px solid green;
}

.amenID {
    margin-top: 2em;
    text-align: left;
    margin-left: .8em;
}

.amenities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: 1em;
    column-gap: 1em;
    margin: 2px;
    border: none;
    padding: 1em;
    text-align: center;
    color:#ac856d;
}

.amenitiesP {
    color:#988d84;
    margin-left: 1.5em;
}

.freeBreakfast,
.famHistory,
.wifi,
.carPark,
.swimming,
.shuttle,
.gym {
    border: none;
    box-shadow: 0 0 8px#a3a88a;
    padding-top: 1.5em;
}

.carPark,
.swimming {
    padding-top: 4em;
}


footer {
    font-family: Lato;
    background-color: #a3a88a;
    color: white;    
}

.fLogo {
    width: 200px;
    margin: 1em;
}

.mapCont {
    margin: 1em;
}

.addressCont {
    margin: 1em;
}

.container {
    margin: 1em;
}

footer div.container {
    font-family: Lato;
}

footer #copyrightyear {
    font-family: Lato;
}