@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
/* phone or baseline views*/

header {
    background-color: #eee;
}
header h1, h2 {
    text-align: center;
    color:#7569f5;
}

main {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

main section h2 {
    color: #7569f5;
    text-align: center;
}

main section {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #d1ccd0;
}