body {
    font-size: 24px;
    font-family: "Avenir", sans-serif;
}

main {
    max-width: 760px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-size: 0.8rem;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.contrast, .whiteSpace, .alignment {
    border: 1px solid; color: black;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
}

header h1, h2 {
    text-align: center;
    color:#7569f5;
}

main section h2 {
    color: #7569f5;
    text-align: center;
}

main section {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #d1ccd0;
}

/* Tablet Views */
@media only screen and (min-width: 37.5em) {

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main section:nth-child(2) {
        display:block;
    }

    section:nth-child(3) {
        display: block;
    }

    main section picture img {
        width: 100%;
        height: auto;
        border: 1px solid #bbb;
    }

 /* Desktop Views */
 @media only screen and (min-width: 760px) {
     main {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
     }

     footer {
        color: white;
        font-size: 12px;
        background-color:#d1ccd0;
        padding: 1.5em;
        text-align: center;
    }

 }   
}