@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



h1, p {margin: 0 2vw;}

h1 {
    display:flex;
    justify-content: center;
}

.chamberName {
    justify-content: center;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #000000;
}

nav {
    background-color: #eee;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333333;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li.products a {
    background-color: rgba(0,0,0,0.2);
    color: #000000;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

.date {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0.75rem;
    background-color: #eee;
}

main {
    display: grid;
    row-gap: 0.3rem;
    column-gap: 0.3rem;
    margin: 2px;
}

#events {
    background-color: #eee;
    border: 1px solid #000;
    text-align:center;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #00a2b6;
    font-size: 12px;
    color: white;
    padding: 2em;
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}
