@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { 
    font-family: 'Poppins', sans-serif;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; }


.banner {
    font-size: 24px;
    background-color: #8B728E;
    border: 1px solid #D6A184;
    color: white;
    text-align:center;
    border-radius: 10px; 
    padding: 10px;
}

.hide {
    display: none;
}

header .topOfPage {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.utahMountains {
    height: 400px;
    width: auto;
}

h1, p {
    margin: 0 2vw;
}

h1 {
    display:flex;
    color: #00a2b6;
}

.topOfPage {
    display: flex;
    display: inline;
}

.logo {
    width: 250px;
    height: auto;
}

.socialMedia {
    width: 150px;
    height: auto;
}

.socialMedia2 {
    width: 45px;
    height: auto;
}

nav button {
    color: #ffffff;
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;

}

nav {
    background-color: #8B728E;

}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li.products a {
    background-color: rgba(0,0,0,0.2);
    color: #000000;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

.date {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0.75rem;
    background-color: #8B728E;
    color: #ffffff;
}

main {
    display: grid;
    row-gap: 0.3rem;
    column-gap: 0.3rem;
    margin: 2px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


#hero {
    position: relative;
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    background-color: white;
    border: 1px solid #D6A184;
    color:#00a2b6;
    text-align:center;
    border-radius: 5px;
}

.discoverTitle {
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    color:#00a2b6;
}

.overlayButton {
    position: absolute;
    border: none;
    bottom: 30px;
    left: 70px;
    padding: 10px;
    background-color: #00a2b6;
    color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 20px #333;
}

#weather {
    display: block;
    grid-column: 1 / span 1;
    grid-row: 2/ span 1;
    background-color: white;
    border: 1px solid #D6A184;
    color: black;
    text-align:center;
    border-radius: 5px; 
}

main #weather h2 {
    color: #00a2b6;
}


#events {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: white;
    border: 1px solid #D6A184;
    color: black;
    text-align:center;
    border-radius: 5px; 
}

main #events h2 {
    color: #00a2b6;
}

#news {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    background-color: white;
    border: 1px solid #D6A184;
    color: black;
    text-align:center;
    border-radius: 5px; 
}

main #news h2 {
    color:#00a2b6;
}

#spotlights {
    grid-column: 4 / span 1;
    grid-row: 1 / span 3;
    background-color: white;
    border: 1px solid #D6A184;
    color: black;
    text-align:center;
    border-radius: 5px; 
    box-shadow: 0 0 5px gray;
}

main #spotlights h2 {
    color: #00a2b6;
}

#spotlights div {
    border: 1px solid #D6A184;
    padding-bottom: .5em;
}

#join {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    background-color: white;
    border: 1px solid #D6A184;
    color: black;
    text-align:center;
    border-radius: 5px; 
}

main #join h2 {
    color: #00a2b6;
}

.spotlights {
    display: grid;
}

.spotlights div {
    padding: .5rem;
    border: 1px solid #000;
}

.line {
    border-top: 1px solid #D6A184;
    padding-top: .25em;
}

footer {
    text-align: center;
    background-color: #694873;
    font-size: 12px;
    color: white;
    padding: 2em;
}

footer .footerLayout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2em;
}

footer figure.map {
    width: 20%;
}

nav ul {
    display: none;
}
nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}
