/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {


    nav ul {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    nav ul li a {
        padding: 1.5rem 1rem;
    }

    nav ul#primarynav {
        display: flex;
        margin-left: 0;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    main div.utahFunGrid img:hover {
        box-shadow: 0 0 20px #D6A184;
    }
    
    
    }/* end large */
