/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {


    nav ul {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    nav ul li a {
        padding: 1.5rem 1rem;
    }

    nav ul#primarynav {
        display: flex;
        margin-left: 0;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }


    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    #callToAction {
        position: relative;
        grid-column: 2 / span 2;
        grid-row: 1 / span 2;
        background-color: #8B728E;
        border: 1px solid #D6A184;
        color: white;
        text-align:center;
        border-radius: 5px;
    }

    .overlayButton {
        position: absolute;
        border: none;
        bottom: 30px;
        left: 70px;
        padding: 10px;
        background-color: #00a2b6;
        border-radius: 15px;
        box-shadow: 3 3 20px #333;
    }

    #weather {
        grid-column: 1 / span 1;
        grid-row: 2/ span 1;
        background-color: white;
        border: 1px solid #D6A184;
        color: black;
        text-align:center;
        border-radius: 5px; 
    }

    main #weather h2 {
        color: #00a2b6;
    }


    #events {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        background-color: white;
        border: 1px solid #D6A184;
        color: black;
        text-align:center;
        border-radius: 5px; 
    }

    main #events h2 {
        color: #00a2b6;
    }

    #news {
        grid-column: 2 / span 2;
        grid-row: 3 / span 1;
        background-color: white;
        border: 1px solid #D6A184;
        color: black;
        text-align:center;
        border-radius: 5px; 
    }

    main #news h2 {
        color:#00a2b6;
    }

    #spotlights {
        grid-column: 4 / span 1;
        grid-row: 1 / span 3;
        background-color: white;
        border: 1px solid #D6A184;
        color: black;
        text-align:center;
        border-radius: 5px; 
    }

    main #spotlights h2 {
        color: #00a2b6;
    }

    #spotlights div {
        border: 1px solid #D6A184;
        padding-bottom: .5em;
    }

    #join {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        background-color: white;
        border: 1px solid #D6A184;
        color: black;
        text-align:center;
        border-radius: 5px; 
    }

    main #join h2 {
        color: #00a2b6;
    }
    
    }/* end large */
